@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
}

/* header */
.body-bg {
    background: linear-gradient(90deg, #133E18 0%, #0F2912 100%);

}

.cp {
    cursor: pointer;
}

.gap-22 {
    gap: 22px;
}

.py-navbar {
    padding-top: 20px;
}

.max-w-1540 {
    max-width: 1540px !important;
}

.gap-59 {
    gap: 59px;
}

.nav-search-box {
    background: var(--navbar);
    max-width: 147px;
    padding: 15px 19px 16px 19px;
    border-radius: 34px;
    width: 100%;
}

.gap-29 {
    gap: 29px;
}

.max-w-785 {
    max-width: 785px;
}

.header-bg-image {
    top: 0;
    left: 8%;
    right: 5%;

}

.header-elipse1 {
    right: 0;
    top: 0;
}

.header-elipse2 {
    left: 0;
    top: 0;
}

.header-elipse3 {
    left: 30%;
    top: 0;
}

.header-elipse4 {
    right: 0;
    top: 30%;
}

.pt-header {
    padding-top: 48px;
}

.max-header-para {
    padding-top: 26px;
}


.gap-grow {
    gap: 15px;
}

.btn-grow {
    max-width: 153px;
    border-radius: 5px;
    background: var(--white);
    padding: 13px 25px 13px 25px;
    border: 2px solid transparent;
    outline: none;
    transition: all 300ms ease-in-out;
}

.btn-grow:hover {
    border: 2px solid var(--white);
    color: var(--white);
    background: transparent;
    transition: all 300ms ease-in-out;
}

.pt-33 {
    padding-top: 33px;
}

.gap-20 {
    gap: 20px;
}

.gap-demo {
    gap: 10px;
}

.circle-1 {
    width: 56px;
    height: 56px;
    border: 1px solid var(--white);
    border-radius: 50px;
}

.header-slider-box {
    /* max-width: 369px; */
    border-radius: 20px;
    background: var(--white2);
    padding: 43px 0px 17px 28px;
}

.outerbox {
    height: 300px;
}


.header-slider .slick-slide {
    transform: translateY(50%);
}

.gradient-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(45deg, var(--white), transparent, var(--white));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}


.gap-16 {
    gap: 16px;
}

.gap-17 {
    gap: 17px;
}

.gap_2 {
    gap: 2px;
}

.pt_2 {
    padding-top: 2px;
}

.gap-13 {
    gap: 13px;
}

.right-line {
    width: 1px;
    height: 13px;
    background: var(--white);
}

.gap_7 {
    gap: 7px;
}

.max-w-370 {
    max-width: 370px;
}

.avlaible-box {
    max-width: 84px;
    border-radius: 6px;
    background: var(--green2);
    padding: 7px 8px 8px 8px;
    top: -16px;
    left: 28px;
}

.max-w-farmer {
    max-width: 240px;
}

.farmer {
    bottom: 0;
    right: -60px;
}


.header-slider .slick-dots li.slick-active {
    width: 24px;
}

.slick-dots li button:before {

    content: '' !important;

}


.header-slider .slick-dots li {
    margin: 0 2.5px;
    padding: 0;
    font-family: slick;
    width: 5px;
    height: 5px;
    content: '';
    background-color: var(--dots);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}

/* section-3/////////////////// */
.max-w-1576 {
    max-width: 1576px !important;
}

.gradient-border-2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 1px;
    background: linear-gradient(45deg, var(--white), transparent, var(--white));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;

}

.max-image {
    max-width: 500px;
    max-height: 464px;
}

.review-box {
    max-width: 1576px;
    border-radius: 40px;
    background: var(--section-3);
    padding: 20px 20px 20px 20px;

}

.shadow-review {
    box-shadow: 0px 100px 80px 0px var(--black);
}

.gap-16 {
    gap: 16px;
}

.pt-text {
    padding-top: 30px;
}


.border_bottom {
    max-width: 219px;
    height: 1px;
    background: var(--white);
    bottom: 4px;
    left: 0;

}

.pt-comment {
    padding-top: 35px;
}


.review-py {
    padding-top: 48px;
    padding-bottom: 48px;
}

.review-slider .slick-dots li.slick-active {
    width: 14px;
    height: 14px;
    transform: translateY(-2px);
}

.review-slider .slick-dots li {
    margin: 11px;
    padding: 0;
    font-family: slick;
    width: 10px;
    height: 10px;
    content: '';
    background-color: var(--white);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}

.review-slider .slick-dots {
    position: absolute;
    max-width: 320px;
    bottom: 0%;
    left: 0%;
    display: none !important;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.mt-review {
    margin-top: 35px !important;
}

.review-slider .slick-list {
    overflow: visible !important;
}

/* section-4///////////// */
.section-4-py {
    padding-top: 0px;
    padding-bottom: 48px;
}

.elipse11 {
    bottom: 0;
    right: 0;
}

.review-elipse1 {
    left: 0;
    top: 45%;
}

.leaf3 {
    top: 0%;
    right: 0%;
}

.elipse-last {
    right: 0%;
    top: -30%;
}

.elipse-last-2 {
    left: 0%;
    bottom: -10%;
}

.max-501 {
    max-width: 501px;
}

.left-1 {
    left: 0px;
    bottom: 27%;
}

.right-1 {
    right: 0px;
    bottom: 27%;

}

.top-border-mini::after {
    content: '';
    position: absolute;
    left: 0;
    top: -14px;
    z-index: 1 !important;
    width: 26px;
    height: 2px;
    background: var(--white);
}

.bottom-border-mini::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -15px;
    z-index: 1 !important;
    width: 26px;
    height: 2px;
    background: var(--white);
}

.mt_section-4-col {
    margin-top: 32px;
}

.gap-12 {
    gap: 12px;
}

.max-w-870 {
    max-width: 870px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-text-section-4 {
    padding-top: 48px;
}

.pt-text-3 {
    padding-top: 25px;
}

.gap-47 {
    gap: 47px;
}

.btn-more-info {
    max-width: 210px;
    border-radius: 5px;
    padding: 18px 38px 18px 38px;
    outline: none;
    border: 2px solid transparent;
    transition: all 300ms linear;
}

.btn-more-info:hover {
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

.py-btn-info {
    padding-top: 48px;
    padding-bottom: 39px;
}

/* footer/////////////////////////// */
.footer-bg {
    background: var(--footer);
}

.footer-elipse-1 {
    bottom: 0;
    right: 0%;
}

.pt-footer-text1 {
    padding-top: 45px;
}

.gap-56 {
    gap: 56px;
}

.footer-p-text2 {
    padding-top: 45px;
}

.footer-input-box {


    border-radius: 11px;
    padding: 23px 44px 23px 36px;
    background: var(--input);

}

.gap-44 {
    gap: 44px;
}

.line_input {
    height: 27px;
    width: 1px;
    background: var(--white);
}

.mt-26 {
    margin-top: 26px;
}

.gap-44 {
    gap: 44px;
}

.gap-51 {
    gap: 51px;
}

.logo-hover {
    transition: all 300ms linear;
}

.logo-hover:hover {
    transform: scale(1.1);
}

.py-footer {
    padding-top: 48px;
    padding-bottom: 48px;
}

.mt-footer {
    margin-top: 31px !important;
}

.gradient-line {
    max-width: 716px;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.1) 0%, #FFFFFF 48%, rgba(255, 255, 255, 0.1) 100%);
}

.py-last-text {
    padding-top: 58px;
    padding-bottom: 65px;
}

.max-para-1 {
    max-width: 800px;
}

/* underline */
.under_line {
    position: relative;
}

.under_line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--white);
    bottom: -2px;
    left: 0px;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out;
}

.under_line:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

/* font-family//////////////// */
.poppins {
    font-family: "Poppins", sans-serif;
}

/* section-2 */

.card1 {

    border-radius: 40px;
    min-height: 412px;
    padding: 0px 46px 44px 47px;
    background: var(--section-3);
}

.gradient-border-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 1px;
    background: linear-gradient(45deg, var(--white), transparent, var(--white));
    -webkit-mask:
        linear-gradient(var(--white) 0 0) content-box,
        linear-gradient(var(--white) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}

.gap-32 {
    gap: 32px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-36 {
    padding-top: 36px;
}

.max-394 {
    max-width: 394px;
}

.second-slider .slick-slide {
    padding-top: 214px;
    padding-bottom: 40px;
}

.card-1-img {
    left: 0;
    bottom: 55%;
}

.max-w-1375 {
    max-width: 1375px !important;
}

.pt-slider2 {
    padding-top: 58px;
}

.pt-customer {
    padding-top: 58px;
}

.second-slider .slick-dots li.slick-active {
    width: 51px;
}

.second-slider .slick-slide {
    margin: 0 24px;
}

.second-slider .slick-list {
    margin: 0 -24px;
}

.second-slider .slick-dots li {
    margin: 0px 10px !important;
    padding: 0;
    font-family: slick;
    width: 12px;
    height: 12px;
    content: '';
    background-color: var(--white);
    border-radius: 28px;
    text-align: center;
    transition: all 200ms linear;
}

.leaf1 {
    top: 10%;
    left: 0;
}

.sec2-elipse1 {
    top: -15%;
    left: 0%;
}

.sec2-elipse2 {
    right: 0%;
    top: 40%;
}

.leaf2 {
    right: 123px;
    top: 10%;
}

/* back-to-top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    border-radius: 100px;
    background: transparent;
    border: 2px solid var(--white);

}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px;

}

/* Track */
::-webkit-scrollbar-track {
    background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 20px;
}

/* pre-loader */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.loader {
    animation: fade-in-down 2s ease infinite;
}

.max-500 {
    max-width: 400px !important;
}

.loader_1 {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: var(--white);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 4s linear infinite;
}
.max-550{
    max-width: 550px;
}

.loader_1::after,
.loader_1::before {
    content: '';
    width: 10px;
    height: 1px;
    background: var(--white);
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
}

.loader_1::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }

    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}




@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (min-width:576px) {
    .mt-review {
        margin-top: 24px !important;
    }

    .review-slider .slick-dots {
        bottom: 2%;
        left: 0%;
        display: block !important;
    }

    .max-w-farmer {
        max-width: 343px;
    }

    .gap-grow {
        gap: 39px;
    }

    .gap-demo {
        gap: 20px;
    }

    .card-1-img {
        left: 20%;
        bottom: 45%;
    }

}

@media (min-width:768px) {
    .pt-slider2 {
        padding-top: 100px;
    }

    .pt-customer {
        padding-top: 100px;
    }

    .second-slider .slick-slide {
        padding-top: 214px;
        padding-bottom: 66px;
    }

    .card-1-img {
        left: 0%;
        bottom: 45%;
    }

    .max-para-1 {
        max-width: 512px;
    }

    .footer-input-box {
        max-width: 516px;
    }

    .py-footer {
        padding-top: 52px;
        padding-bottom: 99px;
    }

    .section-4-py {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .review-py {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .py-navbar {
        padding-top: 79px;
    }

    .pt-header {
        padding-top: 100px;
    }

    .review-box {
        padding: 35px 35px 35px 35px;
    }

    .pt-text {
        padding-top: 50px;
    }


    .pt-comment {
        padding-top: 50px;
    }

}

@media (min-width:992px) {
    .review-slider .slick-dots {
        bottom: 12%;
        left: 26%;
        display: block !important;
    }

    .mt-review {
        margin-top: 0 !important;
    }

    .pt-slider2 {
        padding-top: 213px;
    }

    .pt-customer {
        padding-top: 279px;
    }

    .section-4-py {
        padding-top: 337px;
        padding-bottom: 210px;
    }

    .py-btn-info {
        padding-top: 76px;
        padding-bottom: 39px;
    }

    .pt-text-section-4 {
        padding-top: 109px;
    }

    .pt-text-3 {
        padding-top: 44px;
    }

    .header-bg-image {
        top: 0;
        left: 30%;
    }

    .review-py {
        padding-top: 107px;
        padding-bottom: 100px;
    }

    .pt-header {
        padding-top: 166px;
    }

    .max-header-para {
        max-width: 440px;
        padding-top: 26px;
    }

    .max-412 {
        max-width: 412px;
    }

    .max-image {
        max-width: 366px;
        height: 464px;

    }

    .pt-text {
        padding-top: 83px;
    }

    .pt-comment {
        padding-top: 65px;
    }

}

@media (min-width:1200px) {
    .review-box {
        padding: 92px 118px 92px 92px;
    }

    .max-525 {
        max-width: 525px;
    }

    .card1 {
        max-width: 392px;
    }

    .review-slider .slick-dots {
        bottom: 21%;
        left: 29%;
        display: block;
    }
}

@media (min-width:1500px) {
    .left-1 {
        left: 20px;
        bottom: 27%;
    }

    .right-1 {
        right: 20px;
        bottom: 27%;

    }
}

@media (min-width:1700px) {
    .left-1 {
        left: 81px;
        bottom: 27%;
    }

    .right-1 {
        right: 81px;
        bottom: 27%;
    }
}

/* mobile-view//////////// */
@media (max-width:767px) {
    .mobile_view {
        position: fixed;
        background: var(--green);

        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu {
        z-index: 100;
    }

    .overflow_hidden {
        overflow: hidden;
    }

}

@media (max-width:1200px) {
    .over_x_scroll {
        overflow-x: scroll;
    }

    .mb-scroll {
        padding: 15px !important;
    }
}